body {
  background-color: white;
}

h1 {
  color: black;
  font-family: "Montserrat", sans-serif;
}
h4 {
  color: black;
  font-family: "Montserrat", sans-serif;
}
p {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: small;
}

#extra-box {
  position: fixed;
  left: 10px;
  top: 75px;
  width: 200px;
  border: white 2px solid;
}
