body {
  background-color: white;
}

h1 {
  color: #0078ae;
  font-family: "Arial";
}
h2 {
  color: #67abd0;
  font-family: "Arial";
}
h3 {
  color: #67abd0;
  font-family: "Arial";
}
h4 {
  color: #67abd0;
  font-family: "Arial";
}
p {
  color: black;
  font-family: "Arial";
  font-size: small;
}
b {
  color: black;
  font-family: "Arial";
  font-size: small;
  font-weight: bold;
}

#extra-box {
  position: fixed;
  left: 10px;
  top: 75px;
  width: 200px;
  border: white 2px solid;
}
* {
  box-sizing: border-box;
}

.row {
  margin-left: -5px;
  margin-right: -5px;
}

.lcolumn {
  float: left;
  width: 50%;
  padding: 10px;
}

.rcolumn {
  float: right;
  width: 50%;
  padding: 10px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

table {
  margin-top: 10px;
  font: Arial;
}

table,
tr,
th,
td {
  padding: 10px;
  border: 1px solid #666;
  width: 50%;
  border-collapse: collapse;
  font: Arial;
}
